@tailwind base;
@tailwind components;
@tailwind utilities;

body{ 
  display: flex;
  background-image: url(../public/assets/fondn.jpg);
  color:  white;
  
}
#root{
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}